<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>MsmqInGatewayWS</servlet-name>
        <servlet-class>de.objectcode.soatools.msmq.ws.MsmqInGatewayWS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DumpServlet</servlet-name>
        <servlet-class>de.objectcode.soatools.msmq.ws.DumpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MsmqInGatewayWS</servlet-name>
        <url-pattern>/MsmqInGatewayWS</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DumpServlet</servlet-name>
        <url-pattern>/DumpServlet</url-pattern>
    </servlet-mapping>
</web-app>