<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MsmqGatewayService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="MsmqGatewayService.MsmqGatewayServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MsmqGatewayService.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="OutgoingDestinations" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="IncomingDestinations" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="LogOutgoing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogIncoming" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MsmqGatewayService_MsmqInGatewayService_MsmqInGatewayWSService"
                serializeAs="String">
                <value>http://192.168.23.1:8080/msmq-gateway/MsmqInGatewayWS</value>
            </setting>
            <setting name="MsmqInGatewayService_List" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://192.168.23.1:8080/msmq-gateway/MsmqInGatewayWS</string>
                        <string>http://192.168.23.10:8080/msmq-gateway/MsmqInGatewayWS</string>
                    </ArrayOfString>
                </value>
            </setting>
        </MsmqGatewayService.Properties.Settings>
    </applicationSettings>
</configuration>