<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MessageListenerConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MessageListenerConsole.Properties.Settings>
            <setting name="MessageQueueName" serializeAs="String">
                <value>.\private$\Queue1</value>
            </setting>
            <setting name="MessageListenerConsole_MsmqInGateway_MsmqInGatewayWSService"
                serializeAs="String">
                <value>http://192.168.23.1:8080/msmq-gateway/MsmqInGatewayWS</value>
            </setting>
        </MessageListenerConsole.Properties.Settings>
    </applicationSettings>
</configuration>