<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	
	<context-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>de.objectcode.soatools.logstore.ws.rest.LogStoreApplication</param-value>
   	</context-param>

	<context-param>
      <param-name>resteasy.providers</param-name>
      <param-value>de.objectcode.soatools.logstore.ws.rest.providers.Dom4jProvider</param-value>
   	</context-param>

   	
	<context-param>
      <param-name>resteasy.servlet.mapping.prefix</param-name>
      <param-value>/rest</param-value>
   	</context-param>
	
	<servlet>
		<servlet-name>LogStoreServiceWS</servlet-name>
		<servlet-class>de.objectcode.soatools.logstore.ws.soap.impl.LogStoreServiceWS</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogStoreServiceWS</servlet-name>
		<url-pattern>/soap</url-pattern>
	</servlet-mapping>

	<servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>HtmlAdaptor</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>JBossAdmin</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>LogStore</realm-name>
	</login-config>

	<security-role>
		<role-name>JBossAdmin</role-name>
	</security-role>
</web-app>