<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MsmqTestLoopback.Properties.Settings.MessageDataSetConnectionString"
            connectionString="Data Source=|DataDirectory|\MessageDataSet.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="MsmqTestLoopback.Properties.Settings.MessageDatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\MessageDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>